---
import {
  CONTENT_CARD_CLASS,
  CONTENT_CARD_DESCRIPTION_CLASS,
  CONTENT_CARD_KIND_CLASS,
  CONTENT_CARD_META_CLASS,
  CONTENT_CARD_TITLE_CLASS,
  CONTENT_CARD_TITLE_LINK_CLASS,
} from "./tailwind";

interface Props {
  title: string;
  url?: string;
  kind?: string;
  description?: string;
  meta?: string;
}

const { title, url, kind, description, meta }: Props = Astro.props;
---

<article class:list={[CONTENT_CARD_CLASS, url && "relative", "w-full"]}>
  {kind && <p class={CONTENT_CARD_KIND_CLASS}>{kind}</p>}

  <h3 class={CONTENT_CARD_TITLE_CLASS}>
    {
      url ? (
        <a class:list={[CONTENT_CARD_TITLE_LINK_CLASS, "before:absolute before:inset-0 before:z-10"]} href={url}>
          {title}
        </a>
      ) : (
        <span>{title}</span>
      )
    }
  </h3>

  {description && <p class:list={[CONTENT_CARD_DESCRIPTION_CLASS, "flex-1"]}>{description}</p>}
  {meta && <p class:list={[CONTENT_CARD_META_CLASS, !description && "mt-auto"]}>{meta}</p>}
</article>
